*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* css for main content */
.main-content{
    background-color: #f1f2f6;
    padding: 3% 0;
}

.container{
    width: 98%;
    margin: 0 auto;
    padding: 1%;
}
.wrapper{
    padding: 1%;
    width: 90%;
    margin: 0 auto;
}

.img-responsive{
    width: 80%;
    align-items: center;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-white{
    color: white;
}
#reports{
    color: black;
}
.clearfix{
    clear: both;
    float: none;
}

a{
    color: #ff6b81;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tbl-full{
    width: 100%;
}

.tbl-30{
    width: 30%;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td{
    padding: 1%;
}

.col-4{
    width: 31.5%;
    min-height: 4.7rem;
    background-color: white;
    padding: 1%;
    margin: .5%;
    float: left;
    border-width: 5px;
    box-shadow: 1px 1px 2px 2px rgba(157, 155, 155, 0.171);
}

.btn-info{
    background-color: #ff7f50;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-info:hover{
    background-color: #ff6348;
    color: black;
}

.btn-primary{
    background-color: #1e90ff;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #3742fa;
    color: black;
}

.btn-secondary{
    background-color: #7bed9f;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: #2ed573;
    color: black;
}

.btn-danger{
    background-color: #ff6b81;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: #ff4757;
    color: black;
}

.btn-warning{
    background-color: #eccc68;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-color: #eccc68;
}
.btn-warning:hover{
    background-color: #ffa502;
    color: black;
}

.btn{
    border-radius: 0%;
    width: 90px;
    text-align: center;
    color: aliceblue;
}

/* CSS for Categories */
.categories{
    padding: 4% 0;
}

.box-3{
    width: 25%;
    float: left;
}


/* CSS for Food Menu */
.categories{
    color: #ff4757;
    text-align: center;
}

.title{
    text-align: center;
    color: white;
	font-size: 100px;
    text-shadow: 2px 2px #747d8c;
    margin-bottom: 25px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.food-menu{
    background: #f1f2f6;
    padding: 4% 0;
}
.food-menu-box{
    width: 44%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 30%;
    float: left;
}

.food-menu-desc{
    width: 65%;
    float: left;
    margin-left: 4%;
}

.food-price{
    font-size: 1rem;
    font-weight: bold;
    margin: 2% 0;
}
.food-detail{
    font-size: .8rem;
    color: #747d8c;
}
.cart-btn{
    padding: 1.5%;
    border: none;
    font-size: 1rem;
    border-radius: 0px;
}
.fab-icon{
    height: 1.1rem; 
    margin-bottom: -3.5px;
}